<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="#" class="logo">
                <picture>
                    <source srcset="images/logo/logo.webp" type="image/webp">
                    <img src="images/logo/logo.png" alt="Логотип" />
                </picture>
                <div class="logo__text">
                    <span class="logo__title">Ёлк-Ин</span>
                    <span class="logo__sub-title">Искусственные ёлки</span>
                </div>
            </a>
            <div class="header__contacts contacts">
                <div class="header__contacts-group">
                    <a href="tel:+7000000000" class="contacts__tel">
                        +7 000 00-00-00
                    </a>
                    <a href="mailto:mail@mail.ru" class="contacts__mail">mail@mail.ru</a>

                </div>
                <div class="socials">
                    <span class="socials__item">
                        <a href="#" class="socials__link">
                            <img src="images/socials/viber.svg" class="socials__image" alt="вайбер">
                        </a>
                    </span>
                    <span class="socials__item">
                        <a href="#" class="socials__link">
                            <img src="images/socials/whatsApp.svg" class="socials__image" alt="вайбер">
                        </a>
                    </span>
                    <span class="socials__item">
                        <a href="#" class="socials__link">
                            <img src="images/socials/vk.svg" class="socials__image" alt="вайбер">
                        </a>
                    </span>
                    <span class="socials__item">
                        <a href="#" class="socials__link">
                            <img src="images/socials/tg.svg" class="socials__image" alt="вайбер">
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>